
<link rel="stylesheet" href="{{ 'component-carousel.css' | asset_url }}" media="print" onload="this.media='all'">

{%- liquid
  assign posts_displayed = section.settings.blog.articles_count
  if section.settings.post_limit <= section.settings.blog.articles_count
    assign posts_exceed_limit = true
    assign posts_displayed = section.settings.post_limit
  endif
-%}

<div class="blog page-width">
  <div class="page-width-desktop page-width-tablet">
    <h1>{{section.settings.heading}}</h1>
    <p>{{section.settings.description}}</p>
    <ul id="Slider-{{ section.id }}"
      class="carouselPostsContainer blog__posts articles-wrapper grid grid--peek grid--2-col-tablet grid--4-col-desktop slider {% if posts_displayed > 2 %}slider--tablet{% else %}slider--mobile{% endif %}"
      role="list"
    >
      {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
        <li class="carouselItem">
          {% render 'custom-article-card', blog: section.settings.blog, article: article, show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author %}
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Carousel",
  "tag": "section",
  "class": "spaced-section collage-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Title",
      "default": "Multimedia carousel"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "Show Image",
      "info": "t:sections.featured-blog.settings.show_image.info"
    }, 
    {
      "type": "text",
      "id": "showMoreText",
      "label": "Show More Text"
    }
  ]
}
{% endschema %}